@model WebRhProject.Models.ViewModels.ColaboradorFormViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Cadastro</h1>

<h4>Colaborador</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Colaborador.Nome" class="control-label"></label>
                <input asp-for="Colaborador.Nome" class="form-control" />
                <span asp-validation-for="Colaborador.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Colaborador.Sobrenome" class="control-label"></label>
                <input asp-for="Colaborador.Sobrenome" class="form-control" />
                <span asp-validation-for="Colaborador.Sobrenome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Colaborador.SalarioBase" class="control-label"></label>
                @Html.TextBoxFor(m => m.Colaborador.SalarioBase, "{0:R$ #,##0.00}", new { @class = "form-control" })
                <span asp-validation-for="Colaborador.SalarioBase" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Colaborador.DataNascimento" class="control-label"></label>
                <input asp-for="Colaborador.DataNascimento" class="form-control" />
                <span asp-validation-for="Colaborador.DataNascimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Colaborador.DataAdmissao" class="control-label"></label>
                <input asp-for="Colaborador.DataAdmissao" class="form-control" />
                <span asp-validation-for="Colaborador.DataAdmissao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Colaborador.Dependentes" class="control-label"></label>
                <input asp-for="Colaborador.Dependentes" class="form-control" />
                <span asp-validation-for="Colaborador.Dependentes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Colaborador.Filhos" class="control-label"></label>
                <input asp-for="Colaborador.Filhos" class="form-control" />
                <span asp-validation-for="Colaborador.Filhos" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Colaborador.CargoId" class="control-label">Cargo</label>
                <select asp-for="Colaborador.CargoId" asp-items="@(new SelectList(Model.Cargos,"Id","Nome"))" class="form-control">
                    <option value="">Selecione um cargo</option>
                </select>
                <span asp-validation-for="Colaborador.CargoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Colaborador.EmpresaId" class="control-label">Empresa</label>
                <select asp-for="Colaborador.EmpresaId" asp-items="@(new SelectList(Model.Empresas,"Id","NomeFantasia"))" class="form-control">
                    <option value="">Selecione uma empresa</option>
                </select>
                <span asp-validation-for="Colaborador.EmpresaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#Colaborador_SalarioBase').mask('R$ 000.000.000.000.000,00', { reverse: true });
        });
    </script>
}

