@model WebRhProject.Models.ViewModels.ColaboradorFormViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Cadastro</h1>

<h4>Colaborador</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Colaborador.Nome" class="control-label"></label>
                <input asp-for="Colaborador.Nome" class="form-control" />
                <span asp-validation-for="Colaborador.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Colaborador.Sobrenome" class="control-label"></label>
                <input asp-for="Colaborador.Sobrenome" class="form-control" />
                <span asp-validation-for="Colaborador.Sobrenome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Colaborador.SalarioBase" class="control-label"></label>
                <input id="salario-base-input" asp-for="Colaborador.SalarioBase" class="form-control" />
                <span asp-validation-for="Colaborador.SalarioBase" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Colaborador.DataNascimento" class="control-label"></label>
                <input asp-for="Colaborador.DataNascimento" class="form-control" />
                <span asp-validation-for="Colaborador.DataNascimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Colaborador.DataAdmissao" class="control-label"></label>
                <input asp-for="Colaborador.DataAdmissao" class="form-control" />
                <span asp-validation-for="Colaborador.DataAdmissao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Colaborador.Dependentes" class="control-label"></label>
                <input asp-for="Colaborador.Dependentes" class="form-control" />
                <span asp-validation-for="Colaborador.Dependentes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Colaborador.Filhos" class="control-label"></label>
                <input asp-for="Colaborador.Filhos" class="form-control" />
                <span asp-validation-for="Colaborador.Filhos" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Colaborador.CEP" class="control-label"></label>
                <input type="text" asp-for="Colaborador.CEP" class="form-control" id="cep-input" />
                <span asp-validation-for="Colaborador.CEP" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Logradouro</label>
                <input type="text" class="form-control" id="logradouro-input" readonly />
            </div>

            <div class="form-group">
                <label class="control-label">Bairro</label>
                <input type="text" class="form-control" id="bairro-input" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Colaborador.Numero" class="control-label"></label>
                <input asp-for="Colaborador.Numero" class="form-control" />
                <span asp-validation-for="Colaborador.Numero" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Cidade</label>
                <input type="text" class="form-control" id="cidade-input" readonly />
            </div>

            <div class="form-group">
                <label class="control-label">Estado</label>
                <input type="text" class="form-control" id="estado-input" readonly />
            </div>

            <div class="form-group">
                <label asp-for="Colaborador.CargoId" class="control-label">Cargo</label>
                <select asp-for="Colaborador.CargoId" asp-items="@(new SelectList(Model.Cargos,"Id","Nome"))" class="form-control">
                    <option value="">Selecione um cargo</option>
                </select>
                <span asp-validation-for="Colaborador.CargoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Colaborador.EmpresaId" class="control-label">Empresa</label>
                <select asp-for="Colaborador.EmpresaId" asp-items="@(new SelectList(Model.Empresas,"Id","NomeFantasia"))" class="form-control">
                    <option value="">Selecione uma empresa</option>
                </select>
                <span asp-validation-for="Colaborador.EmpresaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/autonumeric@4.1.0/dist/autoNumeric.min.js"></script>
    <script>
        $(document).ready(function () {
            // Máscara para o campo de CEP
            $('#cep-input').mask('00000-000');

            // Lidar com a tecla Enter nos campos de entrada
            $('input').keydown(function (event) {
                if (event.key === 'Enter') {
                    event.preventDefault();
                    var nextInput = $(this).closest('.form-group').next('.form-group').find('input');
                    if (nextInput.length > 0) {
                        nextInput.focus();
                    } else {
                        $(this).blur();
                    }
                }
            });

            $('#cep-input').blur(function () {
                var cep = $(this).val().replace(/\D/g, '');

                if (cep) {
                    var url = 'https://viacep.com.br/ws/' + cep + '/json/';

                    $.getJSON(url, function (data) {
                        if (!data.erro) {
                            $('#logradouro-input').val(data.logradouro);
                            $('#bairro-input').val(data.bairro);
                            $('#cidade-input').val(data.localidade);
                            $('#estado-input').val(data.uf);
                        }
                    });
                }
            });

            // Formatar o campo de salário base
            var salarioBaseInput = document.getElementById('salario-base-input');
            new AutoNumeric(salarioBaseInput, {
                currencySymbol: 'R$ ',
                decimalPlaces: 2,
                decimalCharacter: ',',
                digitGroupSeparator: '.',
                unformatOnSubmit: true,
            });
        });
    </script>
}
