<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebRhProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-interface.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebRhProject.styles.css" asp-append-version="true" />
</head>
<body>
    @if (!ViewContext.RouteData.Values["action"].ToString().Equals("Login", StringComparison.OrdinalIgnoreCase))
    {
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">RhProject</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="cadastrosDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Cadastros
                                </a>
                                <div class="dropdown-menu" aria-labelledby="cadastrosDropdown">
                                    <a class="dropdown-item" asp-area="" asp-controller="Colaboradores" asp-action="Create">Cadastrar Colaborador</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Cargos" asp-action="Create">Cadastrar Cargo</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Empresas" asp-action="Create">Cadastrar Empresa</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Usuarios" asp-action="Create">Cadastrar Usuario</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="listarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Consultar
                                </a>
                                <div class="dropdown-menu" aria-labelledby="listarDropdown">
                                    <a class="dropdown-item" asp-area="" asp-controller="Colaboradores" asp-action="Index">Colaboradores</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Cargos" asp-action="Index">Cargos</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Empresas" asp-action="Index">Empresas</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Usuarios" asp-action="Index">Usuarios</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="demitirDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Tarefas
                                </a>
                                <div class="dropdown-menu" aria-labelledby="demitirDropdown">
                                    <a class="dropdown-item" asp-area="" asp-controller="Colaboradores" asp-action="SelectColaborador">Demitir Colaboradores</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Holerites" asp-action="Create">Lançamento de Holerite</a>

                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    }

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - WebRhProject - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
